<html>
    <head>
        <title>Polar Bear Tracking</title>
        <style>
            #chart-wrapper {
                display: inline-block;
                position: relative;
                width: 500px;
            }
        </style>
    </head>
    <body>
        <h1>
            Polar bears Tagged for Tracking
        </h1>
        <div>
            <canvas id="myChart"></canvas>
            </div id="chart-wrapper">
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
            <script type= 'text/javascript'>
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',
            
            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45]
                }]
            },
            
            // // Configuration options go here
            // options: {
            //     responsive: true
            // }
            // });
            // var chart = new Chart(ctx, {
            // // The type of chart we want to create
            // type: 'bar',

            // // The data for our dataset
            // data: {
            // labels: ['Male', 'Female', 'Left Ear', 'Right Ear'],
            // datasets: [{
            //     label: 'Polar Bears',
            //     backgroundColor: 'rgb(255, 99, 132)',
            //     borderColor: 'rgb(255, 99, 132)',
            //     data: [{{ male }},{{ female }}, {{ left_ear }}, {{ right_ear }}]
            // }]
            // },

            // Configuration options go here
            options: {
                    responsive: true
                    // scales: {
                    // yAxes: [{
                    //         ticks: {
                    //                 beginAtZero: true
                    //                 }
                    //         }]
                    // }
            }
            });
            </script>
        </div>
        <a href="{% url "bear_new" %}">
            <button>
                Create
            </button>
        </a>
        {% for bear in bears %}
        <p>
            <b>
                <a href="{% url "bear_detail" bear.id %}">
                    {{bear.bearID }}
                </a>
            </b>
            This is a {{ bear.age_class }} aged bear 
            {{bear.bearID}}, a {{ bear.sex }} bear, who has has an tag in its' {{ bear.ear_applied }} ear, with {{ bear.ptt_ID }} devise, and was
            tagged at {{ bear.capture_lat }} and {{ bear.capture_long }}
            <a href="{% url "bear_edit" id=bear.id %}">
                <button>
                    Edit
                </button>
            </a>
            <a href="{% url "bear_delete" bear.id %}">
                <button>
                    Delete
                </button>
            </a>
        </p>
        {% endfor %}
    </body>
</html>