<html>
    <head>
        <title>Historic Cities</title>
    </head>
    <body>
        <h1>
            Historic Cities
        </h1>
        {% for city in page_obj %}
        <p>
        <b> 
            <a>
                ID -
            </a> 
            <a href="{% url "cityname" city.city %}">
                {{city.id}}
            </a>
        </b>
        This is {{ city.city }} also sometimes known as {{ city.otherName }} in 
        {{city.country}}, with the {{ city.pop }} in {{ city.year }}, and located at 
        {{ city.latitude }} and {{ city.longitude }}

        <table>
            <td>
                <a href="{% url "city_edit" city.id %}">
                    <button>
                        Edit
                    </button>
                </a>
            </td>
            <td>
                <a href="{% url "city_delete" city.id %}">
                    <button>
                        Delete
                    </button>
                </a>
            </td>
        </table>
        </p>
        {% endfor %}
        
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </body>
</html>