<!DOCTYPE html>
<head>
    <title>
        Edit page
    </title>
</head>
<body>
    <form>
    <!-- <form action="" method=POST> -->
        <fieldset>
            <div>
                <!-- This is {{ city.city }} also sometimes known as {{ city.otherName }} in 
                {{city.country}}, with the {{ city.pop }} in {{ city.year }}, and located at 
                {{ city.latitude }} and {{ city.longitude }} -->
                <legend>
                    <strong>
                        Update this line:
                    </strong>
                </legend>
                <br>
                <div>
                    <label>
                        New name for the specific city: 
                    </label>
                    <input type="text" placeholder=""> <!-- Here will add the origin data -->
                </div>
                <br>
                <div>
                    <label>
                        New Othername for the specific city: 
                    </label>
                    <input type="text" placeholder=""> <!-- Here will add the origin data -->
                </div>
                <br>
                <div>
                    <label>
                        New Country name for the specific city:
                    </label>
                    <input type="text" placeholder=""> <!-- Here will add the origin data -->
                </div> 
                <br>
                <div>
                    <label>
                        New pop for the specific city:
                    </label>
                    <input type="text" placeholder=""> <!-- Here will add the origin data -->
                </div>
                <br>
                <div>
                    <label>
                        New year value for the specific city:
                    </label>
                    <input type="text" placeholder=""> <!-- Here will add the origin data -->
                </div>
                <br>
                <div>
                    <label>
                        New latitude for the specific city:
                    </label>
                    <input type="text" placeholder=""> <!-- Here will add the origin data -->
                </div>
                <br>
                <div>
                    <label>
                        New longitude for the specific city:
                    </label>
                    <input type="text" placeholder=""> <!-- Here will add the origin data -->
                </div>
                <br>
                <input class = "buttonlist" type="button" onclick="alert('Submitted successfully.')" value="Update">
                <input class = "buttonlist" type="button" onclick="alert('Ready to reset, are you sure?')" value="Reset">
            </div>
        </fieldset>
    </form>
</body>